In [1]:
#mapping dictionary ****dict****
x={'name':"samir",'last_name':"atnur",}
print(x)
print(type(x))

{'name': 'samir', 'last_name': 'atnur'}
<class 'dict'>

In [2]:
#part 2
name={'1':'sam','2':'maya','3':'shubhu','4':'dua',}
age={'1':'23','2':'20','3':'24','4':'26'}
print(name.values())
print(name.keys())

print("\n",age.values())
print(age.keys())

dict_values(['sam', 'maya', 'shubhu', 'dua'])
dict_keys(['1', '2', '3', '4'])

 dict_values(['23', '20', '24', '26'])
dict_keys(['1', '2', '3', '4'])

In [3]:
#part3
dict   ="hello"
mas['xyz'] ="world"
miss       ={ }
print(sam)
print(mas)
print(miss)

NameError: name 'mas' is not defined

In [4]:
#part 4
n={1:"rohan",2:"bandu",3:"abhi",4:"maya"}
print("1st name is"+n[1])
print("2nd name is"+n[2])
print(n)
print(n.keys())
print(n.values())

1st name isrohan
2nd name isbandu
{1: 'rohan', 2: 'bandu', 3: 'abhi', 4: 'maya'}
dict_keys([1, 2, 3, 4])
dict_values(['rohan', 'bandu', 'abhi', 'maya'])

In [5]:
#part 5 i made this casual program.
var={1:'sam',2:'ravi',3:'kavi',4:'cad'}
print(var)
print('1st no is'": "+'var'[1])
print('2nd no is'": "+'var'[2])
print(type(var))

{1: 'sam', 2: 'ravi', 3: 'kavi', 4: 'cad'}
1st no is: a
2nd no is: r
<class 'dict'>

In [1]:
x={'name':"samir",'last_name':"atnur",}
print(x)

{'name': 'samir', 'last_name': 'atnur'}

In [2]:
n={1:"rohan",2:"bandu",3:"abhi",4:"maya"}
print((n)[1])

rohan