In [1]:
A= "samir"
B= "Arnur"
print(A+B)

samirArnur

In [2]:
a= 44
b= 544
c=a+b 
print(c)

588

In [1]:
#logical not operater
#part 1
add=353
b=343
num= 354 not add
print(num)

SyntaxError: invalid syntax (164009140.py, line 5)