In [2]:
#part[1]
a=['samir',23,"wesd"]
print(type(a))
print(a[2])

<class 'list'>
wesd

In [3]:
#part[2]
a=['samir',23,"wesd"]
print(a,[2])

['samir', 23, 'wesd'] [2]

In [5]:
#[1]
a=('samir',4,32,3)
for i in range(len(a)):
    print(a[i])

samir
4
32
3

In [6]:
#[2]
a=('samir',4,32,3)
for i in range(len(a)):
    print(a)

('samir', 4, 32, 3)
('samir', 4, 32, 3)
('samir', 4, 32, 3)
('samir', 4, 32, 3)

In [7]:
ist=["sam","manuj","rakes","kundan","raavi",11,234,3443,]
for i in range(len(ist)):
    print(ist[i],end=" ")

sam manuj rakes kundan raavi 11 234 3443

In [8]:
#reversed -list
my_list = [1, 5, 10, 2]
my_reversed_object = reversed(my_list)
print(my_reversed_object)

<list_reverseiterator object at 0x00000212C7E90DF0>

In [9]:
#riversed using in list datatype..
my_list = [1, 5, 10, 2]
for i in (reversed(my_list)):
    print(i)

2
10
5
1

In [10]:
lis=[22,32,43,5,345,4345,434,]
piche=(reversed(lis))
print(piche)
values=list(lis)
print(values)

<list_reverseiterator object at 0x00000212C7C35C60>
[22, 32, 43, 5, 345, 4345, 434]

In [11]:
#slicing.
x=(['samir''____________'   
    'atnur'])
print(x)

['samir____________atnur']

In [12]:
#concatination.
a="amir"
b='atnur'
print(a+b)

amiratnur

In [13]:
#ripitation.
a='love form bhaii    '
print(3*a,end=" ")

love form bhaii    love form bhaii    love form bhaii

In [14]:
#join.
separater="#"
x=["samir","atnur","mayur","more","rakes","golu"]
print(separater.join(x))

samir#atnur#mayur#more#rakes#golu

In [15]:
#set_method
list1=[3,4,1,4,5,]                                            #imp program......!
print("the list1 before set:"+ str(list1))
print("the list1 after set:"+str(set(list1)))

the list1 before set:[3, 4, 1, 4, 5]
the list1 after set:{1, 3, 4, 5}

In [16]:
#remove.
x=["samir","atnur","mayur","more","rakes","golu"]
x.remove("atnur") 
print(x)

['samir', 'mayur', 'more', 'rakes', 'golu']

In [17]:
#Add 1,Append method
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [18]:
#slicing.part1
a=["rohan bhaii",'dw','ref','ffed','ee','wwwdef','fefd','ffee','feeefe']
print(a[-5:-1])

['ee', 'wwwdef', 'fefd', 'ffee']

In [19]:
#TUPLES-
#create- with one itam
thistuple = ("apple",)
print(type(thistuple))
                                            #imp programs...!
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [2]:
list=[1,455,244,2344,556]
print(max(list))

2344

In [3]:
list1 = []
 

num = int(input("Enter number of elements in list: "))
for i in range(1, num + 1):
    ele = int(input("Enter elements: "))
    list1.append(ele)
print("Largest element is:", max(list1))

ValueError: invalid literal for int() with base 10: ''

In [4]:
list= [1, 2, 3, 5, 9, 6, 101, 88, 66, 6, 101, 55, -1001]
maxi = list[0]

for i in list:
    if i > maxi:
        maxi = i
        
print("Greatest number: ", maxi)

Greatest number:  101

In [5]:
list=[223,6645454,77,8668787,778656545,6766588]
list[0]
for i in list:

_IncompleteInputError: incomplete input (4174709498.py, line 4)