In [1]:
SamirAtnur

NameError: name 'SamirAtnur' is not defined

In [2]:
#set blanck set 
#part01
set1=set()
print("Intial blank set:")
print(set1)

Intial blank set:
set()

In [3]:
#part 2
set1=set("GeeksForGeeks")#set me string value repete nahi hoti 1st time he print hoti hai.
print("\n set with the use of string:")
print(set1)
#____________________________________________________________________________________________________
set1=set("sameer_mayuur_raaju")#set me string value repete nahi hoti 1st time he print hoti hai.
print("\n set with the use of string:")
print(set1)

 set with the use of string:
{'r', 'G', 'F', 'e', 's', 'o', 'k'}

 set with the use of string:
{'r', '_', 'm', 'j', 'e', 'a', 's', 'y', 'u'}

In [4]:
#part3 
set1=set(["Geeks","for","Geeks"])#same thing string&set me hotihai 1st time he print hoti hai value repite nahi hoti.
print("\n set with the use of list:")
print(set1)
print(type(set1))

 set with the use of list:
{'Geeks', 'for'}
<class 'set'>

In [5]:
#part4
set1=set([1,2,'geeks',4,'for',6,"Geeks"])#integer&string value mixed in (list()) datatype
print("\n set with the use of mixed values:")
print(set1)
print(type(set1))

 set with the use of mixed values:
{1, 2, 4, 6, 'Geeks', 'for', 'geeks'}
<class 'set'>

In [6]:
#set hold colection of unique itams. 
#part5
student_id={112,34,43245,343,442,4333,}#set hold colection mahanje digit che collection karane Ex-{112,34,43245,343,442,4333,}.
print(student_id)
print(type(student_id))

{112, 34, 343, 43245, 442, 4333}
<class 'set'>

In [7]:
#remove&add in (set()) datatype
set1=set()
set2={'james',2,3,'python'}
print(set2)#{2, 3, 'python', 'james'}
set2.add(10)#{2, 3, 10, 'python', 'james'}
print(set2)
set2.remove(2)#{3, 10, 'python', 'james'}
print(set2)

{2, 3, 'python', 'james'}
{2, 3, 10, 'james', 'python'}
{3, 10, 'james', 'python'}

In [9]:


    #boolean in detail-(comarision operater)
    # <
    # >
    # ==    
    # i=
    # >=
    # <=
    #_________________________________________________________

    x=10
    print(x<11)
    print(x>11)
    print(x<=10)
    print(x>10)
    #gerater and less.

True
False
True
False

In [1]:
#Using Curly Braces:
# Creating a set of integers
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set of strings
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()


#Using the set() Constructor:
# Creating a set of integers
my_set = set([1, 2, 3, 4, 5])
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set of strings
fruits = set(["apple", "banana", "cherry"])
print(fruits)  # Output: {'apple', 'banana', 'cherry}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

{1, 2, 3, 4, 5}
{'cherry', 'apple', 'banana'}
set()
{1, 2, 3, 4, 5}
{'cherry', 'apple', 'banana'}
set()

In [ ]:
#Using the set() Constructor:
# Creating a set of integers
my_set = set([1, 2, 3, 4, 5])
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set of strings
fruits = set(["apple", "banana", "cherry"])
print(fruits)  # Output: {'apple', 'banana', 'cherry}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

In [2]:
#Using Set Comprehension:
squares = {x ** 2 for x in range(1, 6)}
print(squares)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [3]:
    #Converting Other Iterable Types to Sets:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}

my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)  # Output: {1, 2, 3, 4, 5}

my_string = "hello"
my_set = set(my_string)
print(my_set)  # Output: {'h', 'e', 'l', 'o'}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'l', 'o', 'e', 'h'}

In [4]:

#
#initializing and accessing the elements of set in python


1. Initializing a Set:
You can create a set by enclosing a comma-separated list of elements within curly braces {} or by using the set() constructor.

python
Copy code
# Using curly braces
my_set = {1, 2, 3, 4}

# Using set() constructor
another_set = set([5, 6, 7, 8])



2. Accessing Elements:
Sets are unordered, and you can't access elements by indexing like you can with lists. However, you can check for the presence of an element using the in operator.
#Ex

my_set = {1, 2, 3, 4}

# Check if an element is in the set
if 3 in my_set:
    print("3 is in the set")

# Check if an element is not in the set
if 5 not in my_set:
    print("5 is not in the set")
If you need to iterate over the elements in a set, you can use a for loop:

#ex

my_set = {1, 2, 3, 4}

# Iterating over set elements
for element in my_set:
    print(element)

SyntaxError: unterminated string literal (detected at line 19) (3463785944.py, line 19)