In [1]:
#tuple value miixing 
var=("abcd","123457645","wide boll")
print(var)
print(var[2])
print(type(var))

('abcd', '123457645', 'wide boll')
wide boll
<class 'tuple'>

In [ ]:
#tuple value miixing 
var=("abcd","123457645","wide boll")
print(var)
print(var[2])
print(type(var))

('abcd', '123457645', 'wide boll')
wide boll
<class 'tuple'>

In [1]:
#TUPLES-
#create- with one itam
thistuple = ("apple",)
print(type(thistuple))
                                            #imp programs...!
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [2]:
#tuples Create
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [3]:
#Accessing value in tuple
my_tuple = (1, 2, 3, 4, 5)
value = my_tuple[2]  # Access the third element (index 2)
print(value) 

x=('edddsd','fe','eeffefd','rfeddd','dffsdf','rfrd')
a=x[3]
print(a)


my_tuple = (1, 2, 3, 4, 5)
for item in my_tuple:
    print(item,end="   ")

3
rfeddd
1   2   3   4   5

In [4]:
#update tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

s=('sam','rohan', 'dinu', 'raju')
d=list(s)
d[2]="sopya"
s=tuple(d)
print(s)

('apple', 'kiwi', 'cherry')
('sam', 'rohan', 'sopya', 'raju')

In [5]:
#Delete tuple
x=("hii" ,"samir")
print(x)
del(x)                                                                               #1
print("after ")
print(x)


#!/usr/bin/python
tup = ('physics', 'chemistry', 1997, 2000);
print tup;                                                                           #2
del tup;
print "After deleting tup : ";
print tup;


thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists        #3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (470796309.py, line 11)

In [6]:
#indexing tuple.
tuple= (5,2,9,7,5,8,1,4,3)
print(tuple[3])
print(tuple[7])               #sope aahe

7
4

In [7]:
#slicing

# Syntax of slice
#tuple[start:stop:step]

tuples = ('Spark','Python','Pandas','Pyspark','Java','Hadoop', 'C++')
start = 1
stop = 6
step = 2
slice1 = slice(start, stop, step)
result = tuples[slice1]
print(result)

# code to test slicing
tuple1 = (0 ,1, 2, 3)

print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

('Python', 'Pyspark', 'Hadoop')
(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [8]:
#accessing values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
print(thisdict)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [1]:
#Python zip() with Tuple
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
zipped = zip(tuple1, tuple2)
result = list(zipped)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [2]:
#for loop with tuple.
t=((1,2),(3,4),(5,6))
for a,b in t:
    print(a,b)

1 2
3 4
5 6

In [2]:
#1. Create and Print a Tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [4]:
#2. Access Elements by Index
colors = ("red", "green", "blue")
print("First color:", colors[0])
print("Last color:", colors[-1])

First color: red
Last color: blue

In [6]:
#3. Tuple Length
nums = (10, 20, 30, 40)
print("Length:", len(nums))

Length: 4

In [7]:
#4. Check if Element Exists
t = (1, 3, 5, 7)
print(5 in t)     # True
print(9 in t)     # False

True
False

In [8]:
#5. Tuple Slicing
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])   # From index 1 to 3

(20, 30, 40)

In [9]:
# 6. Concatenate Two Tuples
a = (1, 2, 3)
b = (4, 5)
result = a + b
print(result)

(1, 2, 3, 4, 5)

In [10]:
#7. Repeat a Tuple
t = ("yes",)
print(t * 3)

('yes', 'yes', 'yes')

In [11]:
#8. Unpack Tuple into Variables
person = ("Samir", 23, "India")
name, age, country = person
print(name)
print(age)
print(country)

Samir
23
India

In [12]:
#9. Find Min and Max in Numeric Tuple
numbers = (5, 2, 8, 1, 3)
print("Min:", min(numbers))
print("Max:", max(numbers))

Min: 1
Max: 8

In [13]:
# 10. Count Occurrence of an Item
items = ("pen", "pencil", "pen", "book")
print("pen appears:", items.count("pen"))

pen appears: 2

In [15]:
#11. Find Index of an Element
t = ("a", "b", "c", "d")
print("Index of 'c':", t.index("c"))

Index of 'c': 2

In [16]:
#12. Loop Through a Tuple
names = ("Alice", "Bob", "Charlie")
for name in names:
    print("Hello", name)

Hello Alice
Hello Bob
Hello Charlie

In [18]:
#13. Nested Tuple Access
data = ("user", (1, 2, 3))
print(data[1][1])   # Access inner tuple's 2nd element

2

In [20]:
#14. Check if All Elements Are Numbers
t = (1, 2, 3)
if all(isinstance(x, int) for x in t):
    print("All numbers")

All numbers

In [21]:
#15. Convert List to Tuple
lst = [1, 2, 3]
tup = tuple(lst)
print(tup)

(1, 2, 3)

In [22]:
#16. Tuple with Mixed Data Types
mix = ("Samir", 25, True)
print(mix)

('Samir', 25, True)

In [1]:
#17. Tuple Inside a Tuple (Nested)
t = ("A", ("B", "C"), "D")
print(t[1][0])  # Access "B"

B

In [3]:
#18. Compare Two Tuples
a = (1, 2, 3)
b = (1, 2, 4)
print(a < b)   # True, because 3 < 4

True

In [4]:
#19. Reverse a Tuple
t = (1, 2, 3, 4)
rev = t[::-1]
print("Reversed:", rev)

Reversed: (4, 3, 2, 1)

In [5]:
#20. Check if Tuple is Empty
t = ()
if not t:
    print("Tuple is empty")

Tuple is empty