In [1]:
#tuple value miixing 
var=("abcd","123457645","wide boll")
print(var)
print(var[2])
print(type(var))

('abcd', '123457645', 'wide boll')
wide boll
<class 'tuple'>

In [ ]:
#tuple value miixing 
var=("abcd","123457645","wide boll")
print(var)
print(var[2])
print(type(var))

('abcd', '123457645', 'wide boll')
wide boll
<class 'tuple'>

In [1]:
#TUPLES-
#create- with one itam
thistuple = ("apple",)
print(type(thistuple))
                                            #imp programs...!
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [2]:
#tuples Create
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [3]:
#Accessing value in tuple
my_tuple = (1, 2, 3, 4, 5)
value = my_tuple[2]  # Access the third element (index 2)
print(value) 

x=('edddsd','fe','eeffefd','rfeddd','dffsdf','rfrd')
a=x[3]
print(a)


my_tuple = (1, 2, 3, 4, 5)
for item in my_tuple:
    print(item,end="   ")

3
rfeddd
1   2   3   4   5

In [4]:
#update tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

s=('sam','rohan', 'dinu', 'raju')
d=list(s)
d[2]="sopya"
s=tuple(d)
print(s)

('apple', 'kiwi', 'cherry')
('sam', 'rohan', 'sopya', 'raju')

In [5]:
#Delete tuple
x=("hii" ,"samir")
print(x)
del(x)                                                                               #1
print("after ")
print(x)


#!/usr/bin/python
tup = ('physics', 'chemistry', 1997, 2000);
print tup;                                                                           #2
del tup;
print "After deleting tup : ";
print tup;


thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists        #3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (470796309.py, line 11)

In [6]:
#indexing tuple.
tuple= (5,2,9,7,5,8,1,4,3)
print(tuple[3])
print(tuple[7])               #sope aahe

7
4

In [7]:
#slicing

# Syntax of slice
#tuple[start:stop:step]

tuples = ('Spark','Python','Pandas','Pyspark','Java','Hadoop', 'C++')
start = 1
stop = 6
step = 2
slice1 = slice(start, stop, step)
result = tuples[slice1]
print(result)

# code to test slicing
tuple1 = (0 ,1, 2, 3)

print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

('Python', 'Pyspark', 'Hadoop')
(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [8]:
#accessing values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
print(thisdict)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [1]:
#Python zip() with Tuple
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
zipped = zip(tuple1, tuple2)
result = list(zipped)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [2]:
#for loop with tuple.
t=((1,2),(3,4),(5,6))
for a,b in t:
    print(a,b)

1 2
3 4
5 6