In [2]:
#most importent and simple example break continue pass!!

#[1] continue
for i in range(10):
    
    if i== 7:
        continue                                     #continue statement laganese jo "if" me mentioned hai ve value output me display nahi hoti!!
    print(i,end=" ")
print("complet")

#output- 0 1 2 3 4 5 6 8 9 complet

#[2]pass
for i in range(10):
    if i== 7:
        pass                                      #pass satement mai pass ka koi impact nahi hota output me aap dek sakate ho output mai!!
    print(i,end=" ")
print("complete")

#output- 0 1 2 3 4 5 6 7 8 9 complete

#[3] break

for i in range(10):
    if i== 7:
        break                                    #break lagane ke baad "if" mai jo mention ki gai hai thik vaise hi output aaye ga break ka!!
    print(i,end=" ")
print("complete")

#output-0 1 2 3 4 5 6 complete

0 1 2 3 4 5 6 8 9 complet
0 1 2 3 4 5 6 7 8 9 complete
0 1 2 3 4 5 6 complete

In [1]:
# i made 1st break program.....!!

for i in range(10):
    if i ==5:
        break
    print(i)
print("end of game with :",i)

0
1
2
3
4
end of game with : 5

In [3]:
#simple example........!!
for i in range(10):
    print(i)
    if i == 2:
        break

0
1
2

In [4]:
#End the loop if i is larger than 3....!
for i in range(9):
    if i >3:
        break
    print(i)

0
1
2
3

In [ ]:
i=1
while i<10:
    if i == 5:
        i+=1
        break
        print('ok')
    else:
        print('out of if block')
print('end')

In [5]:
# 2nd
a= range(9)
for i in a:
    if i >5:
        break
    print(i)

0
1
2
3
4
5

In [6]:
#break out of loop while loop Ex-
i = 1
while i < 9:
    print (i)
    if i == 3:
        break
    i+=1

1
2
3

In [7]:
#simple break statment with string value performe.....!
s= 'Hello , world'
for char in s:
    if char == 'o':
        break
    print(char)

H
e
l
l

In [8]:
#2nd
x='samir'
for i in x:                     9
    if i =='m':
        break
    print(i)

IndentationError: unexpected indent (4276649704.py, line 4)

In [9]:
#3d 
s= 'Hello , world'
for char in s:                       #program 1,2,3 is not same thoda direnceestion hai tinomebhi...!
    print(char)
    if char == ',':
        break

H
e
l
l
o

,

In [10]:
numbers = [ 23,45,67,89,123,167,189,245,277,]
for num in numbers:
    if num > 100:
        print (" the first number greater than 100 is :",num)
        break

 the first number greater than 100 is : 123

In [11]:
# words = [ 'banana', 'cherry','apricot','coconut','kiwi']
# for word in words:
#     if word.startwith "a" or word=='t:                 #run nahi ho raha hai badame dekha jayegaa............!!!
#         print(word ):
#         break
        
        
#[2]
list_=['ramesh', 'rahul', 'karan', 'kiran']
for i in list_:
    if i.startswith('k'):
        print("end if with:",i,len(i))
        break
    else:
        print("end Element length of: ",i,len(i))

end Element length of:  ramesh 6
end Element length of:  rahul 5
end if with: karan 5

In [12]:
# Using python break in nested loop....!
for i in range (5):
    for j in range(5):
        if  i==2 and j == 2:
            break                                            # bohot gafalat hai isame run hota hai par program samaj nahi aa raha hai.!!!!!!!
        print(i,j)
        if i == 3:
            break

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
3 0
4 0
4 1
4 2
4 3
4 4

In [13]:
#using ,for ,while ,if ,in  break statement......!!
s = 'geeksforgeeks'
for  letter in s:
    print(letter)
    if letter == 'e' or letter == 's':
        break 
print("out of for loop ")
print ()
i = 0
while True:
    print (s[i])
    if s[i] == 'e' or s[i] == 's':
        break 
    i+=1
print ("out of while loop")      


# #[2 Ex-]
# a="Lovefromindia"
# for i in a:
#     print(i)
#     if i=='z' or i=='n':
#         break
    
# print("end of loop1")

# print()

# b=0
# while True:
#     print(a[b])
#     if (a[b])=='r' or (a[b])=='c':
#         break
#     b+=1
# print("end of loop")

g
e
out of for loop

g
e
out of while loop

In [14]:

num= 0
for i in range (10):
    num+=1
    if num == 8:
        break 
    print ("The num has value:", num)
print("out of loop")


i=0
for x in range(10):
    i+=1
    if x==8:
        break
    print("the num value is:",x)
print("end of ......")


num =0
for x in range(10):
    num+=1
    if x ==6:
        break
    print('the value of x:',num)
print("end")

The num has value: 1
The num has value: 2
The num has value: 3
The num has value: 4
The num has value: 5
The num has value: 6
The num has value: 7
out of loop
the num value is: 0
the num value is: 1
the num value is: 2
the num value is: 3
the num value is: 4
the num value is: 5
the num value is: 6
the num value is: 7
end of ......
the value of x: 1
the value of x: 2
the value of x: 3
the value of x: 4
the value of x: 5
the value of x: 6
end

In [15]:

for letter in "python":
    if letter == 'h':
        break 
    print ('current letter :', letter)
var = 10
while var > 0:
    print('current variable value:',var)
    var = var -1
    if var == 5 :
        break
print("Good bye...!")



# 2nd
for i in 'python':
    if i == 'h':
        break
    print('current letter:',i)
    
    
var = 10
while var >0:
    print("current variable value:",var)
    var= var-1
    if var == 5:
        break
print("Good bye")

current letter : p
current letter : y
current letter : t
current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
Good bye...!
current letter: p
current letter: y
current letter: t
current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
Good bye

In [16]:
#break statement with for loop
for i in range (5):
    if i == 3:
        break
    print(i)

0
1
2

In [17]:
#python break statement with  while loop.....!
i = 1
while i<=10:
    print('6*',(i), '=',6*i)
    if i >=5:
        break
    i=i+1                                                    # 6*1 = 6

6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30

In [18]:
#2nd part
a=1
while a<11:
    print('6' ,'* ', a,'= ',6*a)
    a=a+1
    if a== 7:
        break

6 *  1 =  6
6 *  2 =  12
6 *  3 =  18
6 *  4 =  24
6 *  5 =  30
6 *  6 =  36

In [19]:
# prime numbers using break statement......!!
for n in range (2,10):
    for x in range (2,n):
        if n % x == 0:
            print(n,'equals',x,'*',n//x)    # math ka program hai badame dekhana haiii....!!
            break
    else:
        print(n,'is prime number')

2 is prime number
3 is prime number
4 equals 2 * 2
5 is prime number
6 equals 2 * 3
7 is prime number
8 equals 2 * 4
9 equals 3 * 3

In [20]:
#break statement ka istemal karake 7th ka table tayar kiya hai.......!!
number = 0
multiple_list = []
while True :
    number +=1
    if number % 7 == 0:                               # math ka program hai badame dekhana haiii....!!
        multiple_list.append (number)
    if len(multiple_list) == 10:
        break
multiple_list

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [21]:
#break nested loops..!!
string = ['this','is' ,'a','list' ]
for string in string:
    for char in string :
        print(char)
        if char == 'i':
            print('break \n')
            break

t
h
i
break

i
break

a
l
i
break

In [22]:
#2nd ex---
var= ['samir','mayur','rohan','abhi']
for i in var:
    for char in i:
        print(char)
        if char == 'a':
            print('break \n')
            break

s
a
break

m
a
break

r
o
h
a
break

a
break

In [ ]:
#infinite loop using break statement..!!
while True:
    res = (input("enter a number 5:"))
    if res == 5:
        break

In [ ]:
while True :
    res = input("Enter the number 5:")
    try:
        res=int (res)
    except:                                  # try catch bloke vale methods vala hai ye abhhi nahi samaj aaye aponako badamee dekhate.....!!
        pass
    if res == 5:
        print("thanks !")
        break

In [29]:
 #break with for loop...!!
my_list = [ 1,2,3,4]
count = 1
for item in my_list :
    if item == 4:
        print("item matched ")
        count +=1
        break 
    print("found at location ",count )

found at location  1
found at location  1
found at location  1
item matched

In [26]:
my_str = "python"
for char in my_str:
    if char == 'o':
        break
    print(char)

p
y
t
h

In [27]:
#break statement with while loop
i=0;
while 1:
    print (i , end=" " )
    i= i+1
    if i == 10:                      
        break
    
print("come out of while loop")

0 1 2 3 4 5 6 7 8 9 come out of while loop

In [ ]:
#break statement with nested loops
n = 2
while True :
    i=1
    while i<=10:
        print ('%d x %d = %d \n' %(n,i,n*i))
        i+=1
    choice = int (input("Do you want to continue printing the table of press no:"))                      
    if choice == 0:
        print("Exiting the program....")
        break 
    n+=1
print("Program finished successfully")

In [ ]:
#prime numbers using while loop.!!
num = [34,12,54,23,75,34,11]
def prime-number(number):
    condition = 0
    iteration = 2
    while iteration <= number/2:
        if number % iteration == 0:
            condtion = 1
            break                                            #incorrect program.
        iteration = iteration +1
    if condtion == 0:
        print(f"{number} is a PRIME number")
    else:
        print(f"{number} is not a PRIME number")
    else:
        print(f"{number} is not a PRIME number")
        for i in num:
            print_number(i)

In [ ]:
#[2]
#prime numbers using while loop.!!
num = [34, 12, 54, 23, 75, 34, 11]

def prime_number(number):
    condition = 0
    iteration = 2
    while iteration <= number / 2:
        if number % iteration == 0:
            condition = 1                                      #this is correct satament.....!!!!!
            break
        iteration += 1
    if number == 1:
        print(f"{number} is not a prime number")
    elif condition == 0:
        print(f"{number} is a PRIME number")
    else:
        print(f"{number} is not a prime number")

for i in num:
    prime_number(i)

In [ ]:
#simple statement.!!
i = 1
while i<10:
    print(i)
    if i==7:
        break
    i+=1
    
  
 #2nd
counter = 0
while counter<3:
    if counter == 1:
        break
    print('Inside loop')
    counter = counter+1
else:
    print('Inside else')

In [ ]:
i =0
a='Geekforgeeks'
while i <len(a):
    if a[i]== 'r' or a[i] == 's':
        i+=1
        break
    print('current Letter:',a[i])
    i+=1

In [ ]:
i = 0
while i < 4:
    i+=1
    print(i)
else:
    print("No break\n")
i=0
while i<4:
    i+=1
    print(i)
    break
else:
    print("No break")

In [ ]:
n=5
while n>0:
    n-=1
    if n == 2:
        break 
    print(n)
print('Loop ended:')