In [1]:
print("today we have learn range fuction,okey!")

today we have learn range fuction,okey!

In [121]:
#print range 0t05 using start&stop.
x=range(0,5)
for i in x:
    print(i)

0
1
2
3
4

In [10]:
#ADAVE print karane value.
num=range(1,6)
for i in num:
    print(i,end=",")

1,2,3,4,5,

In [12]:
#directe declare value in for loop.
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
#list print in range.
number=range(0,10)
print(list(number))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#empty list range.
#01__________________
num=range(-4)
print(list(num))
#02__________________
num=list(range(-5))
print(num)
#03__________________
num=(list(range(4,2)))
print(num)

[]
[]
[]

In [22]:
#range start,stop,step using list.
var=(list(range(5)))
print(var)
#______________________
var=(list(range(1,11)))
print(var)
#_________________________
#combine negative num & positive num.
var=(list(range(-1,5)))
print(var)
#________________________

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 0, 1, 2, 3, 4]

In [4]:
#increment numbers in range function.
#01___________________________________
num=list(range(2,11,2))
print(num)
#02___________________________________
num=range(5,-1,-1)
print(list(num))

[2, 4, 6, 8, 10]
[5, 4, 3, 2, 1, 0]

In [47]:
#for loop in range
num=range(5)
for i in num:
    print(i,'samir')
#_________________________________________

#string value print using string.
num=range(6)
for i in   num:
    print(i,'.samie atnur',)

0 samir
1 samir
2 samir
3 samir
4 samir
0 .samie atnur
1 .samie atnur
2 .samie atnur
3 .samie atnur
4 .samie atnur
5 .samie atnur

In [61]:
#positive & negative range.
a=(list(range(1,30,4)))
for i in a:
     print(i)        
#______________________________
a=list(range(20,-1,-2))
for i in a:
       print(i,end="  ")

1
5
9
13
17
21
25
29
20  18  16  14  12  10  8  6  4  2  0

In [63]:
#float value difine error in range function.
for i in range(9.4):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [70]:

print('concating the result')
res=(range(5),range(10,20,2))
for i in res:
          print(i)

concating the result
range(0, 5)
range(10, 20, 2)

In [1]:
#accessing range with index value ex-
#01__________________________________________________
sam=range(10)[0]                 #first value.
print('first element:',sam)   
var=range(10)[-1]                #last value
print('\n Last element:',var)
x=range(10)[4]                   #fifth value 
print('\n fifth element:',x) 
#02____________________________________________________
sam=range(10)[0]
ram=range(20)[-1]
tam=range(10)[3]
print('zero value',sam)
print('last value ',ram)
print('sixth value',tam)

first element: 0

 Last element: 9

 fifth element: 4
zero value 0
last value  19
sixth value 3

In [89]:
#range function with list.
#01__________________________
NAME=['mayur','raju','mayur','aslam','shubhu']
for i in range(len(NAME)):
    print("\n",NAME[i],end=" ")

 mayur
 raju
 mayur
 aslam
 shubhu

In [13]:
#2 table example.
#01_______________________________
for i in range(1,11):
    print("2*",i,"=",2*i)
#02_______________________________
print("\n")
for i in range(2,21,2):
    print(i,end=" ")

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20


2 4 6 8 10 12 14 16 18 20

In [98]:
#more times prints
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [47]:
#--count total list itams to range() using a len() 
var=['sam',"manu",233,3.4,"_sabbir"]
for i in range(len(var)):
    print(var[i])

sam
manu
233
3.4
_sabbir

In [39]:
#number pattern.
#01______________________________-
for num in range(6):
    for i in range(num):
        print(num,end=" ")
    print()    
#02_________________________________-
rows = 6
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

#inverted pyramid pattern of numbers .
rows = 5
b = 0                                     #its not imp to this time okey!!
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

###### reverse range value for loop
#simple type.
for i in range(10,0,-1):
    print(i)
#_________________________________
for i in reversed(range(10,20,2)):
    print(i)

In [8]:
#reversed
for i in range(5,-1,-1):
    print(i,end=" ")

#_____________________________
print("\n")
for i in reversed(range (10,21)):
    print(i,end="  ")

#_______________________________
print("\n")
for i in reversed(range(10,21,2)):
    print(i,end="  ")


for i in reversed(range(10,1)):
    print(i)

5 4 3 2 1 0

20  19  18  17  16  15  14  13  12  11  10

20  18  16  14  12  10

In [22]:
list1 = ['Mon', 'Tue', 'Wed', 'Thu']

for i in range(len(list1) - 1, -1, -1):
    print(list1[i], end=' ')

Thu Wed Tue Mon

In [2]:
#minimum number using for loop.
a=[2,433,545,4546,655,76676,8765,676565,]
max=a[0]
for i in a:
    if i>max: 
        max=i
print(max)

676565

In [53]:
#revese range using for loop. 
for i in range(6,-1,-1):
        print(i,end=" ")

6 5 4 3 2 1 0

In [81]:
range( 4 )
print(range)

<class 'range'>

In [70]:
print(type(range(0,5)))

<class 'range'>

In [72]:
print(type(reversed(range(0,5))))

<class 'range_iterator'>

In [27]:
#reversed list create using range.
list=[10,20,30,40,50,]
for i in range(len(list)-1,-1,-1):
    print(list[i],end=" ")

50 40 30 20 10

In [5]:
#increment ,decremennt using step.
for i in range(0,11,2):
    print(i,end=' ')
    print("\n")

#02____________________________
for i in range(30,11,-2):
    print(i,end=" ")

0

2

4

6

8

10

30 28 26 24 22 20 18 16 14 12

In [7]:
#multiplay by 7 start stop step create 7 table.
a=range(7,71,7)
for i in a:
    print(i)

7
14
21
28
35
42
49
56
63
70

In [13]:
#valuerror in step(0)
for i in range(1,20,1):
    print(i,end="")
    print(',', end=" ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [21]:
#negative range program.
for i in range(-1,-11,-1):
    print(i,end=" ")

#______________________________________
#combition to negative&positve num.
for i in range(2,-5,-1):
    print (i)

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10 2
1
0
-1
-2
-3
-4

In [3]:
#converte range to lst.
#https://youtube.com/shorts/8z4d3zOaD1o?si=gyX4LmbjstYQReFA
a=list(range(20,30))       #list type kel mhanun list value aali 
print(type(a))
for i in a:
   print(i,end=" ")

<class 'list'>
20 21 22 23 24 25 26 27 28 29

In [26]:
#access & modify list itam using range().
sample_list = list(range(10,100,10))
for i in range(0,len(sample_list),1):
     sample_list[i]=sample_list[i]*2
print(sample_list)

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [60]:
#inclusive range.
#01
start=1
stop=10
step=1
stop+=step
for i in range(start,stop,step):
    print(i,end=" ")
#__________________________________
#02_______________________________
print("\n")
a=(1)                                                #program 2,3 madhe print (\n) lihile aahe te jast imp nahi!!.
b=(10)
c=(1)                                                #b+=c karaneke ke bbad 10 bhi type karake aata hai.
b+=c
for i in range(a,b,c):
    print(i,end=" ")

#_____________________________________
#even inclusive range()
print("\n")
for i in range(2,10+step,step):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

1 2 3 4 5 6 7 8 9 10

2 3 4 5 6 7 8 9 10

In [1]:
#range() indexing & slicing
num1=range(0,10)
print(num1.start)
print(num1.stop)
print(num1.step)
#_____________________
print("\n")
range1=range(0,10)
print(range1[0])
print(range1[5])
print(range1[range1.stop-1])

0
10
1


0
5
9

In [2]:
#negative indexing.
print(range(10)[-1])
print(range(10)[-2])

9
8

In [8]:
#slicing.
for i in range(10)[3:8]:
    print(i,end=" ")

3 4 5 6 7

In [13]:
#range()over character or alphabet.
for char in range('a','z'):
    print(char)

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
def character_range(char1,char2):
    for char in range(ord(char1),ord(char2)+1):
        yield(char)
for letter in character_range('a','2'):
    print(char(letter),end=' , ')
print('sample')

sample

In [ ]:
#____________________-----------------------_________________________________-------------

In [ ]:
items=[int,float,"harry",5,3,22,21,64,23,233,23,6]
for item in items:
    if str(item) is numaric() and item>=6:             #not run this time..!!
        print(item)

In [14]:
i=int(input("Enter the number: "))
while(i<=55):
    i=int(input("Enter the number sabji: "))
    print(i)
    
print("end loop")

Enter the number:  23
Enter the number sabji:  32

32

Enter the number sabji:  53

53

Enter the number sabji:  33

33

Enter the number sabji:  443

443
end loop