In [1]:
#for loop 
#[1]
i=["Geeks","for","Geeks"]
print(i)              #normal output
for i in i:           #for loop output.
    print(i)

['Geeks', 'for', 'Geeks']
Geeks
for
Geeks

In [2]:
#squares using for loop. 
numbers = [3,5,23,6,5,1,2,9,8]
sum_=0
for num in numbers:
    sum_=sum_ + num**2
    print("the sum of squares is : ",sum_)                              
#_______________________________________________________________________# dono bhi program same hai niche ka simple krr ke run kiya hai.
a=[5]   
b=0
for c in a:
    b=b+c**2
    print("the sum of squre is:",b)

the sum of squares is :  9
the sum of squares is :  34
the sum of squares is :  563
the sum of squares is :  599
the sum of squares is :  624
the sum of squares is :  625
the sum of squares is :  629
the sum of squares is :  710
the sum of squares is :  774
the sum of squre is: 25

In [3]:
#create program using for loop and len() function.
numbers=[3,5,23,6,5,1,2,9,8]
sum=0
for num in range(len(numbers)):
    sum_=sum_+numbers[num]**2
    print("the sum of sqaures:",sum_)

the sum of sqaures: 783
the sum of sqaures: 808
the sum of sqaures: 1337
the sum of sqaures: 1373
the sum of sqaures: 1398
the sum of sqaures: 1399
the sum of sqaures: 1403
the sum of sqaures: 1484
the sum of sqaures: 1548

In [4]:
#
print("Dictionary iteration")
d=dict()
d['xyz']=123
d['abc']=345                              #explain rhehe gaya hai..
for i in d:
    print("%s %d " %(i,d[i]))


#____________________________________________________
a=dict()
a['sam']=123                                         #as posible simple upar program ka. 
a['sham']=345
for i in a:
    print("%s %d"%(i,a[i]))

Dictionary iteration
xyz 123
abc 345
sam 123
sham 345

In [5]:
for  i in "banana_":
    print(i,end=" ")
for x in "python":
    print(x,end=" ")

b a n a n a _ p y t h o n

In [6]:
values=range(4)
for i in values:
    print(i)

0
1
2
3

In [7]:
#using a for loop without accesing items.
languages=['swift','java','python','go']
for language in languages:                   
    print('hello')
    print('hi')

#________________________________
print("\n")
languages=['swift','java','python','go']
for _ in languages:                               # for loop mai i value nahi di gayi.
    print('hello')
    print('hi')

hello
hi
hello
hi
hello
hi
hello
hi


hello
hi
hello
hi
hello
hi
hello
hi

In [8]:
#for loop with *****else****
for i in range(6):
    print(i)
else:
    print('finally finished')

0
1
2
3
4
5
finally finished

In [9]:
digit = [0,1,5]#list in for loop
for i in digit:
    print(i)
print(type(digit))

0
1
5
<class 'list'>

In [10]:
for i in range(1,4):
    print(i)
else:
    print("no break\n")

1
2
3
no break

In [11]:
#for loopwith zip()
fruits = ["apple","banana","cherry"]
colors = ['red','yellow','green']
for fruit, color in zip(fruits,colors):               #imp program.
    print(fruit,"is",color)

apple is red
banana is yellow
cherry is green

In [12]:
#Python zip() with enumerate
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
	print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [13]:
#for loop with tuple.
t=((1,2),(3,4),(5,6))
for a,b in t:
    print(a,b)

1 2
3 4
5 6

In [14]:
#list of list
list1=[["harry",1],["larry",2],           
      ["carry",6],["marry",250]]
for item in list1:
    print(item)

['harry', 1]
['larry', 2]
['carry', 6]
['marry', 250]

In [15]:
user_input=int(input("Enter the number :"))
for  number in range(1,11):                          #very imp program..!!
    print(user_input*number)

ValueError: invalid literal for int() with base 10: ''

In [16]:
language = ['swift','python','go','javascript']
for languages in language:
    print(languages)

swift
python
go
javascript

In [17]:
items=[int,float,"harry",5,3,22,21,64,23,233,23,6]
for item in items:
    if str(item).is numaric() and item>=6:             #not run this time..!!
        print(item)

SyntaxError: invalid syntax (298304352.py, line 3)

In [18]:
list = ["harry",1],["larry",2],["carry",3],["marry",4]
for i in list:
    print(i)

['harry', 1]
['larry', 2]
['carry', 3]
['marry', 4]