In [1]:
for  i in "banana_":
    print(i,end=" ")
for x in "python":
    print(x,end=" ")

b a n a n a _ p y t h o n

In [1]:
rows = 5  # Number of rows

for i in range(1, rows + 1):     # Outer loop for rows
    for j in range(1, i + 1):    # Inner loop for columns (stars)
        print("*", end=" ")
    print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *

In [2]:
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
rows = 5

for i in range(rows, 0, -1):  # Start from 5, go to 1
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#1. Print square pattern of stars
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

In [ ]:
#2. Print right-angled triangle of stars
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

In [ ]:
#3. Print inverted triangle of stars
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

In [ ]:
#4. Print number triangle
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

In [ ]:
#5. Print reverse number triangle
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

In [ ]:
#6. Print multiplication table (1 to 5)
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i}x{j}={i*j}", end="\t")
    print()

In [ ]:
#7. Print alphabet triangle
for i in range(65, 70):
    for j in range(65, i+1):
        print(chr(j), end=" ")
    print()

In [ ]:
#8. Print pattern A
for i in range(1, 4):
    for j in range(65, 65+i):
        print(chr(j), end=" ")
    print()

In [ ]:
#9. Print pattern of repeated numbers
for i in range(1, 6):
    for j in range(i):
        print(i, end=" ")
    print()

In [ ]:
#10. Print sum of rows in matrix
matrix = [[1,2,3],[4,5,6],[7,8,9]]
for row in matrix:
    total = 0
    for val in row:
        total += val
    print("Row sum:", total)

In [ ]:
#11. Print multiplication matrix 1â€“3
for i in range(1, 4):
    for j in range(1, 4):
        print(i*j, end=" ")
    print()

In [ ]:
#12. Print diagonal stars
for i in range(5):
    for j in range(5):
        if i == j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

In [ ]:
#13. Print hollow square
n = 5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

In [ ]:
#14. Print right-angled number triangle
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

In [ ]:
#15. Print inverted right-angled number triangle
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

In [1]:
#16. Print Floyd's triangle
n = 5
num = 1
for i in range(1, n+1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [2]:
#17. Print pyramid of stars
n = 5
for i in range(1, n+1):
    print(" "*(n-i), end="")
    print("*"* (2*i-1))

    *
   ***
  *****
 *******
*********

In [3]:
#18. Print inverted pyramid of stars
n = 5
for i in range(n, 0, -1):
    print(" "*(n-i), end="")
    print("*"*(2*i-1))

*********
 *******
  *****
   ***
    *

In [4]:
#19. Print diamond pattern
n = 5
# Upper part
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i-1))
# Lower part
for i in range(n-1, 0, -1):
    print(" "*(n-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [5]:
#20 Print multiplication table in grid
for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i*j}", end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [6]:
#21. Print checkerboard pattern
n = 5
for i in range(n):
    for j in range(n):
        if (i+j)%2 == 0:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*   *   *
  *   *
*   *   *
  *   *
*   *   *

In [7]:
#22. Print pyramid of numbers
n = 5
for i in range(1, n+1):
    print(" "*(n-i), end="")
    for j in range(1, i+1):
        print(j, end="")
    print()

    1
   12
  123
 1234
12345

In [8]:
#23. Print inverted pyramid of numbers
n = 5
for i in range(n,0,-1):
    print(" "*(n-i), end="")
    for j in range(1, i+1):
        print(j, end="")
    print()

12345
 1234
  123
   12
    1